.nftPage__mirrorCardDescription {
  font-size: 14px;
  font-weight: 500;
  padding: 0px 12px;
  margin-top: -14px;

  .title {
    color: var(--text-color);
    text-shadow: var(--text-color) 0px 0px 7px;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 12px;
  }

  .row {
    color: var(--secondary-color);
    text-shadow: var(--secondary-color) 0px 0px 7px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;

    .name {
      font-weight: 500;
      color: var(--primary-color);
      text-shadow: var(--primary-color) 0px 0px 7px;
    }
  }
}

.nftPage__content {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 140px));
    grid-gap: 8px;
    margin: 16px 0px;
  }

  .card__nftCardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0px;
    height: 300px;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--primary-color);
      border-radius: 100px;
      // box-shadow: 0px 0px 5px 1.5px var(--primary-color);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--secondary-color);
      cursor: pointer;
    }

    > :nth-child(odd) {
      margin-right: 16px;
      margin-bottom: 16px;
    }

    > :nth-child(even) {
      margin-bottom: 16px;
      margin-bottom: 16px;
    }
  }

  .card__notMintedContainer {
    margin: 24px 0px;

    .traitCard__container .value {
      line-height: 22px;
    }
  }
}

.mirrorCard__content {
  position: relative;
  .nft__mirrorCardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );

    animation: rainbow 7s ease infinite;
    background-size: 1000% 1000%;

    .walletIcon {
      width: 160px;
      height: auto;
      object-fit: contain;
      opacity: 0.3;
      animation: bounce 2000ms ease-in-out infinite;

      @keyframes bounce {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.07);
        }
      }
    }
  }
}
