.mirrorCard__container {
  height: 400px;
  width: 300px;
  border-radius: 32px;
  background: var(--mirror-card-bg);
  overflow: hidden;
  padding: 14px;
  border: 3px solid var(--mirror-border-color);
  box-shadow: 0px 0px 30px rgba(var(--drop-shadow), 0.3);
  cursor: pointer;

  .mirrorCard__content {
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid var(--mirror-border-color);
    overflow: hidden;
    height: 240px;

    img {
      width: 100%;
      height: 100%;
      margin-bottom: -4px;
      object-fit: cover;
    }

    div {
      width: 100%;
      height: 100%;
    }
  }

  .mirrorCard__description {
    padding: 14px 0px;
  }

  .mirrorCard__skeleton {
    padding: 8px 8px;
    padding-top: 18px;

    .title {
      margin: auto;
      margin-bottom: -16px;
      width: 80%;
      display: flex;
      justify-content: center;
      height: fit-content;
    }

    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 8px;
    }
  }

  .mirrorCard__backside {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/

    font-weight: 800;
    height: 100%;
    width: 100%;

    .mirrorCard__backsideWrapper {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid #8c8c8c;
      border-radius: 22px;
      opacity: 0.2;
    }

    p {
      font-size: 14px;
      font-weight: 800;
      opacity: 0.3;
      font-style: italic;
      color: black;
    }
  }
}

.mirrorCard__wrapper {
  transition: all 200ms ease;
  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(0.97);
  }
}
