.home__content {
  max-width: 300px;
  line-height: 20px;

  p {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 14px;

    span {
      color: var(--secondary-color);
      text-shadow: 0px 0px 5px var(--secondary-color);
    }
  }

  button {
    margin-top: 24px;
  }
}

.mirrorCard__container {
  .mirrorCard__description {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 32px;
    padding: 0;
  }

  .mirrorCard__content .home__mirrorCardContent {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );

    animation: rainbow 7s ease infinite;
    background-size: 1000% 1000%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
