.button__container {
  background-color: var(--primary-color);
  color: var(--card);
  text-shadow: 0px 0px 1.69px var(--card);
  box-shadow: 0px 0px 30px rgba(var(--primary-color-rgb), 0.8);
  border-radius: 18px;
  border: none;
  font-family: 'Rubik';
  padding: 18px;
  font-size: 23px;
  font-weight: 800;
  font-style: italic;
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.96);
  }
}
